body{
  height: 230px;
  background: url(https://thumbs.gfycat.com/BraveOptimalBaleenwhale-size_restricted.gif);\
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 1550px 800px;
}


h1{
	color: white;
}

h2{
	color: white;
}

p{
	color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
  border-style: solid;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}